@{
    ViewBag.Title = "Confirmação de Recuperação de Password";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor, acesse o seu e-mail para resetar o seu password.
    </p>
</div>
	
