@{
    ViewBag.Title = "Home Page";
}

<div class="img-home">
    <img src="~/Content/img/img-home.jpg" alt="livros background" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Economize</h2>
        <p>
           Utilize a plataforma para encontrar seus livros paradidáticos e economizar um dinheiro na compra de um novo livro.
        </p>
        <div class="background-temas">
            <i class="fa fa-usd" aria-hidden="true"></i>
        </div>
        <div class="button-saiba-mais">
            <p><a class="btn btn-default" href="#">Saiba Mais...</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Compartilhe</h2>
        <p>
            Utilize a plataforma para compartilhar conhecimento com outras pessoas. Aquele livro que não
            possui mais utilidade para você pode ajudar outra pessoa.
        </p>
        <div class="background-temas">
            <i class="fa fa-book" aria-hidden="true"></i>
        </div>
        <div class="button-saiba-mais">
            <p><a class="btn btn-default" href="#">Saiba Mais...</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Aprenda</h2>
        <p>
            Utilize a plataforma para encontrar os livros que você precisa para conclusão dos seus estudos. Os livros que você
            mais procura estão aqui.
        </p>
        <div class="background-temas">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        </div>
        <div class="button-saiba-mais">
            <p><a class="btn btn-default" href="#">Saiba Mais...</a></p>
        </div>
    </div>

</div>